{% extends "base.html" %}

{% block title %}Flask Feedback Assignment{% endblock %}

{% block content %}
    <h1>{{user.username}}'s Details</h1>
    
    <ul>
        <li>ID: {{user.username}}</li>
        <li>Name: {{user.first_name}} {{user.last_name}}</li>
        <li>Email: {{user.email}}</li>
    </ul>

    <div>
        <h2>{{user.username}}'s Feedback</h2> 

        <ul>

          {% for feedback in feedbacks %}

            <li>
                <a href="{{ url_for('edit_feedback', id=feedback.id) }}">{{ feedback.title }}</a> 

                <form action="{{ url_for('delete_feedback', id=feedback.id) }}" method="POST" style="display: inline;">
                    <button type="submit" style="background: none; border: none; padding: 0; color: red;">X</button>
                </form>
            </li>

          {% endfor %}

        </ul>
    


        <form action='/users/{{user.username}}/feedback/add'>
            <button type="submit">Add New Feedback</button>
        </form>
    </div>
    <br>
    
    <form action="/users/{{user.username}}/delete" method="POST">
        <button type="submit">Delete User</button>
    </form>

{% endblock %}